<div class="dark-grey-bg">
  <div class="container clearfix dark-grey-bg">
    <div class="sixteen columns">
      <div class="buy-container clearfix">
        <div class="buy-img-container">
          <img src="images/icon-plane.png" alt="buy" />
        </div>
        <div class="buy-text-container">
          <div class="buy-text">
            <h2>CV. Sentosa Anara Nusantara</h2>
            <span class="buy-now-slogan"
              >Download Profil dan Lampiran Legalitas Perusahaan</span
            >
          </div>
        </div>
        <div class="button-buy-container">
          <a
            class=""
            target="_blank"
            href="./arsip/COMPRO CV SAN.pdf"
            >Download</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
