<div class="container clearfix rekanan">
  <div class="sixteen columns m-bot-20">
    <ul class="our-clients-container clearfix">
      <li>
        <div class="wrapper">
          <img src="images/rekanan/rekanan-156x80-1.png" alt="Rekanan" />
        </div>
      </li>

      <li>
        <div class="wrapper">
          <img src="images/rekanan/rekanan-156x80-2.png" alt="Rekanan" />
        </div>
      </li>

      <li>
        <div class="wrapper">
          <img src="images/rekanan/rekanan-156x80-3.png" alt="Rekanan" />
        </div>
      </li>

      <li>
        <div class="wrapper">
          <img src="images/rekanan/rekanan-156x80-4.png" alt="Rekanan" />
        </div>
      </li>

      <li>
        <div class="wrapper">
          <img src="images/rekanan/rekanan-156x80-5.png" alt="Rekanan" />
        </div>
      </li>

      <li>
        <div class="wrapper">
          <img src="images/rekanan/rekanan-156x80-6.png" alt="Rekanan" />
        </div>
      </li>
    </ul>
  </div>
</div>
